body {
    background: #333333;
    color: white;
  }
  
  div {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin: 1rem;
  }
  
  img,
  .gallery-image {
    border-radius: 2px;
    border: 25px solid white;
    border-bottom: 125px solid white;
    margin: 1rem;
  }

  img {
      background-image: url(./textured-paper.png)
  }

  input {
      background-color:whitesmoke;
      height: 1rem;
      width: 24rem;
  }

  #search {
      padding: 10px;
      border: none;
      box-shadow:  2px 2px 2px black;
  }

  #submit {
      padding: 10px;
      border: none;
      margin: 0 0 0 10px;
      box-shadow: 2px 2px 2px black;
  }

  #submit:hover {
      background-color: gainsboro;
  }
